<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="name" source="spring.application.name" defaultValue="application"/>
    <springProperty name="logLevel" source="logging.level.root" defaultValue="INFO"/>
    <springProperty name="logPatternCorrelation" source="logging.pattern.correlation" defaultValue="%X{traceId:-MISSING},%X{spanId:-MISSING}"/>
    <springProperty name="logPatternLevel" source="logging.pattern.level" defaultValue="%5p [%X{traceId:-MISSING},%X{spanId:-MISSING}]"/>

    <!-- Console Appender (Logs no terminal) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} ${logPatternLevel} %logger{36} [${logPatternCorrelation}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Loki Appender (Logs enviados ao Loki) -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>application=${name},host=${HOSTNAME},level=%level,traceId=%X{traceId:-MISSING},spanId=%X{spanId:-MISSING}</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "level": "%level",
                    "class": "%logger{36}",
                    "thread": "%thread",
                    "message": "%msg",
                    "correlation": "${logPatternCorrelation}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <!-- Configuração padrão -->
    <root level="${logLevel}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
